<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Veterinaria Patitas Felices - Login / Registro</title>
  <link rel="stylesheet" href="../css/styles.css" />
  
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1>🐾Bienvenido a Patitas Felices🐾</h1>
      
      <!-- Formulario Login -->
      <form action="../Validacion/validacion.php" method="POST">
        <label for="email">Nombre de usuario</label>
        <input type="text" id="user" name="user" required>

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Entrar</button>
      </form>
        
    
    </div>
    <p class="link"> Si no tienes cuesta crea una <a href="../view/register.html">aquí</a></p>
      
  </div>

</body>
</html>
